{# src/Perso/PlatformBundle/Resources/views/Advert/bye.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
  </head>
  <body>
  <h4>BYE LEMON !</h4>

    <p>
      Dégage :
      <strong> zzzz !</strong>
    </p>
  </body>
</html>
